@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #7b57bd;
    border: none;
}

button:hover {
    border: 2px solid #222222;
}